Client.WPF/Service References/_FileSystemService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FileSystemService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IFileSystemService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="922337203685477">
          </wsrm:InactivityTimeout>
          <wsrm:AcknowledgementInterval Milliseconds="200">
          </wsrm:AcknowledgementInterval>
        </wsrm:RMAssertion>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Sketch.FileSystem" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFileSystemService_EnumerateEntries_InputMessage">
    <wsdl:part name="parameters" element="tns:EnumerateEntries" />
  </wsdl:message>
  <wsdl:message name="IFileSystemService_EnumerateEntries_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnumerateEntriesResponse" />
  </wsdl:message>
  <wsdl:message name="IFileSystemService_CreateDirectory_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateDirectory" />
  </wsdl:message>
  <wsdl:message name="IFileSystemService_CreateDirectory_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateDirectoryResponse" />
  </wsdl:message>
  <wsdl:message name="IFileSystemService_DeleteDirectory_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDirectory" />
  </wsdl:message>
  <wsdl:message name="IFileSystemService_DeleteDirectory_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDirectoryResponse" />
  </wsdl:message>
  <wsdl:message name="IFileSystemService_DeleteFile_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFile" />
  </wsdl:message>
  <wsdl:message name="IFileSystemService_DeleteFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFileResponse" />
  </wsdl:message>
  <wsdl:portType name="IFileSystemService">
    <wsdl:operation name="EnumerateEntries">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileSystemService/EnumerateEntries" message="tns:IFileSystemService_EnumerateEntries_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileSystemService/EnumerateEntriesResponse" message="tns:IFileSystemService_EnumerateEntries_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateDirectory">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileSystemService/CreateDirectory" message="tns:IFileSystemService_CreateDirectory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileSystemService/CreateDirectoryResponse" message="tns:IFileSystemService_CreateDirectory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteDirectory">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileSystemService/DeleteDirectory" message="tns:IFileSystemService_DeleteDirectory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileSystemService/DeleteDirectoryResponse" message="tns:IFileSystemService_DeleteDirectory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileSystemService/DeleteFile" message="tns:IFileSystemService_DeleteFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileSystemService/DeleteFileResponse" message="tns:IFileSystemService_DeleteFile_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IFileSystemService" type="tns:IFileSystemService">
    <wsp:PolicyReference URI="#NetTcpBinding_IFileSystemService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="EnumerateEntries">
      <soap12:operation soapAction="http://tempuri.org/IFileSystemService/EnumerateEntries" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateDirectory">
      <soap12:operation soapAction="http://tempuri.org/IFileSystemService/CreateDirectory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDirectory">
      <soap12:operation soapAction="http://tempuri.org/IFileSystemService/DeleteDirectory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFile">
      <soap12:operation soapAction="http://tempuri.org/IFileSystemService/DeleteFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FileSystemService">
    <wsdl:port name="NetTcpBinding_IFileSystemService" binding="tns:NetTcpBinding_IFileSystemService">
      <soap12:address location="net.tcp://localhost:8000/rFS/FileSystemService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8000/rFS/FileSystemService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>